@font-face {
    font-family: Palladius;
    src: url('/fonts/Palladius.ttf');
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

html {
    font-size: 13px;
    font-family: Palladius;
}

body {
    margin: 0 auto;
    background-color: #C1E6F0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15fr 17fr 1fr;
    max-height: 1000px;
    background-image: url("./art/Background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body #cakes img {
    width: 90rem;
    height: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10rem;
    left: 0rem;
}

body #wrapper {
    position: relative;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

body #wrapper #lonnisMessage h1 {
    text-align: center;
    color: #FD83BA;
    padding: 1rem 0 1rem 0;
    background-color: white;
    font-size: 4rem;
    font-weight: normal;
}

body #wrapper #buttonsAndCardWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0 auto;
    padding-bottom: 3rem;
}

body #wrapper #buttonsAndCardWrapper #buttonsWrapper,
#buttons2Wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    margin: 50% auto;
    margin-top: 25%;
}

#create-Card-Button-X {
    margin: 2rem auto;
}

#createCardButton,
#exitCreateForm {
    max-height: 4.5rem;
}

body #wrapper #buttonsAndCardWrapper #buttonsWrapper img,
#buttons2Wrapper img {
    max-width: 15rem;
}


body #wrapper #buttonsAndCardWrapper .flashCard .cardcontainer #nextButton {
    position: absolute;
    margin: 140%;
    margin-left: 13.8%;
}

body #wrapper #buttonsAndCardWrapper .flashCard .cardcontainer #nextButton img {
    max-width: 15rem;
}

body #wrapper #buttonsAndCardWrapper .flashCard .cardcontainer .card .front #question #questionText {
    margin: 25% 10% 0 12%;
    font-size: 1.4rem;
    font-size-adjust: inherit;
}

body #wrapper #buttonsAndCardWrapper .flashCard .cardcontainer .card .back #theAnswerLabel {
    margin: 25% 10% 0 12%;
    font-size: 1.4rem;
    font-size-adjust: inherit;
}

body #wrapper #formWrapper {
    display: none;
}

body #wrapper #formCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}

body #wrapper #formCards #questionWrapper textarea,
body #wrapper #formCards #answerWrapper textarea {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    margin-top: 20%;
    height: 250px;
    text-align: cetner;
    overflow: hidden;
    border: 0;
    resize: none;
    outline: none;
    font-size: 1.4rem;
    font-size-adjust: inherit;
    font-family: Palladius;
}


body #wrapper #formCards #questionWrapper {
    background-image: url('./art/Question-Card.png');
    background-size: 100%;
    width: 20rem;
    height: 27rem;

}

body #wrapper #formCards #answerWrapper {
    background-image: url('./art/Answer-Card.png');
    background-size: 100%;
    width: 20rem;
    height: 27rem;
    margin: 0 auto;
}


body #wrapper #formWrapper {
    text-align: center;
    margin: 0 auto;
}

.flashCard .cardcontainer {
    perspective: 700;
    width: 20rem;
    height: 27rem;
    position: relative;
}

.flashCard .cardcontainer .card {
    width: 20rem;
    height: 27rem;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: absolute;
}

.flashCard .cardcontainer .card .back {
    transform: rotateY(180deg);
}

.front {
    display: block;
    grid-template-rows: 16rem 3rem 2rem;
    align-content: center;
    text-align: center;
}

.back {
    background-image: url('Answer-100.png');
    background-size: 100%;
}

.front,
.back {
    position: absolute;
    width: 20rem;
    height: 27rem;
    backface-visibility: hidden;
    background-color: #c2c3c4;
    text-align: center;
    background-image: url('./art/Question-Card.png');
    background-size: 100%;
}

.footer {
    background: #C1E6F0;
    height: 3rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer p {
    margin: 0;
    padding: 1rem;
    background-color: rgb(150, 204, 219);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
}

.lollipop {
    width: 15rem;
    height: 15rem;
    left: -45.5rem;
    top: 45.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3rem;
    left: -3rem;
    z-index: 10;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sideWrapper {
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 32;
    width: 20rem;
    overflow: scroll;
    top: 0;
    bottom: 0;
    height: auto;
}

#candyWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
}