@font-face {
    font-family: Palladius;
    src: local('Palladius.ttf');
}
body{
    font-family: Palladius cursive;
    margin: 0 auto;
    background-color: rgb(193, 230, 239);
}   

#wrapper{
    position: relative;

    display: grid;
}

#lonnisMessage h1{
    text-align: center;
    color: rgba(255, 9, 139);
    padding: 10px 0 10px 0;
    font-weight: 100px;
    background-color: white;
}

#buttonsAndCardWrapper{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0 auto;
    padding-bottom: 5em;
}

#buttonsWrapper, #buttons2Wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    margin: 50% auto;
}

#buttonsWrapper img, #buttons2Wrapper img {
    max-width: 12em;

}
#nextButton img{
    max-width: 15em;

}
.flashCard .cardcontainer {
    perspective: 700;
    width: 20em;
    height: 27em;
    position: relative;
    
}

.flashCard .cardcontainer .card {
    width: 20em;
    height: 27em;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: absolute;
    
}

.front,
.back {
    position: absolute;
    width: 20em;
    height: 27em;
    backface-visibility: hidden;
    background-color: #c2c3c4;
    text-align: center;
    background-image: url('Question-Card.png');
    background-size: 100%;
}

.flashCard .cardcontainer .card .back {
    transform: rotateY(180deg);
}

.front {
    display: block;
    grid-template-rows: 16em 3em 2em;
    align-content: center;
    text-align: center;
}   


#ACRate{
    position: absolute;
    left: 10%;
    bottom: 1.2%;
    color: black;
}


#questionText{
    margin: 25% 10% 0 12%;
    font-size: 1.2em;
    font-size-adjust: inherit;
}

.back{
    background-image: url('Answer-100.png');
    background-size: 100%;
}

#nextButton{
    position: absolute;
    margin: 135%;
    margin-left: 13.8%;

}

#buttonsWrapper:nth-child(1):hover{

}