@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
#cardAndMenu{
    display:grid;
    grid-template-rows: 4fr 1fr;
}


.flashCard .cardcontainer {
    perspective: 700;
    width: 15em;
    height: 23em;
    position: relative;
}

.flashCard .cardcontainer .card {
    width: 15em;
    height: 23em;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: absolute;
}

.flashCard .cardcontainer:hover .card {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 15em;
    height: 23em;
    backface-visibility: hidden;
    background-color: #c2c3c4;
    border-radius: 20px;
    text-align: center;
}

.flashCard .cardcontainer .card .back {
    transform: rotateY(180deg);
}

.front {
    background-color: RGBA(255, 255, 255, 1);
    border-radius: 20px;
    background: url('https://d1u5p3l4wpay3k.cloudfront.net/hearthstone_gamepedia/thumb/8/89/Card_back-Lunar_New_Year.png/200px-Card_back-Lunar_New_Year.png?version=685e02718b6b6ed7a8a75be0517d7eb4');  
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-content: center;
}   
.questionLabel p{
    position: absolute;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 28px;
    width: 100%;
    vertical-align: sub;
    padding: 0;
}

.question p{
    font-weight: 200;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Patua One', cursive;
    color: white;
}

